[submodule "module/libdivsufsort"]
	path = module/libdivsufsort
	url = https://github.com/TNishimoto/libdivsufsort
[submodule "module/esaxx"]
	path = module/esaxx
	url = https://github.com/TNishimoto/esaxx
[submodule "module/stool"]
	path = module/stool
	url = https://github.com/TNishimoto/stool
[submodule "module/list_order_maintenance"]
	path = module/list_order_maintenance
	url = https://github.com/TNishimoto/list_order_maintenance
